body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.sec{
    display: flex;
    justify-content: space-between;
    margin: 0 100px 100px;
    padding: 10px;
}
.colored-text{
    color: rgb(212, 0, 255);
}
.left-border{
    border-left: 4px solid rgb(204, 3, 204);
    padding:0 5px;
}
button{
    background: rgb(243, 37, 243);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 2px;
}
.text-part{
    width: 55%;
    margin-top: 100px;
}
.image-part{
    width: 35%;
}
.img{
    width: 100%;
}
.mission-title{
    text-align: center;
}
.one-third{
    width: 28%;
    justify-content: space-around;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
}
.one-third img{
    width: 50%;
}
.mission-part{
    background-color: rgb(243, 168, 243);
}
.vision-part{
    background-color: rgb(211, 243, 97);
}
.goal-part{
    background: rgb(129, 235, 152);
}
footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 20px 0;
}
.footer-title{
    font-family: cursive;
}